@theme {
    --font-family: 'Poppins', sans-serif;
    --color-main: #e8e6e3;
    --color-dim: #898989;
    --color-light: #FBFBFB;
    --color-primary: #2071EF;
    --color-hr: #303234;
    --color-secondary: #1450AC;
    --color-bgmain: #181a1b;
    --color-bghover: #202224;
    --color-warning: #E34850;
    --color-input: #25282a;
}
