@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* 


main: "#151518", // Text Main Negro
dim: "#797979", // Text Dim Gris
light: "#FBFBFB", // Text Light Gris Claro
primary: "#2071EF", // Primary Azul
secondary: "#1450AC", // Secondary Azul
bghover: "#E5EAFE", // Background Hover Azul Claro
warning: "#E34850", // Warning Rojo
   
 */

:root {
    font-family: 'Poppins', sans-serif;
    color-scheme: dark;
    background-color: var(--color-bgmain);  
}


.bg-gradient {
    @apply bg-gradient-to-br from-primary to-secondary text-white
}
